[Desktop Entry]
Encoding=UTF-8
Name=Marble
Comment=Marble P2P Cryptocurrency
Comment[fr]=Marble, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Marble, eşten eşe kriptografik sanal para birimi
Comment[es]=Marble, una criptomoneda P2P
Exec=/usr/bin/marble-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/marble;
Categories=Office;
